<div class="root">
  <div class="board">
    <div class="board-wrapper">
      <div class="board-columns">
        <div cdkDropList
             cdkDropListGroup
             cdkDropListOrientation="horizontal"
             (cdkDropListDropped)="dropColumn($event)" class="board-columns">
          <div
            cdkDragHandle
            cdkDragLockAxis="x" class="board-column"
            *ngFor="let column of currentBoard.columns; index as i" cdkDrag>
            <div class="window-close" (click)="showDeleteColumnModal(column.id!)">
              <i class="far fa-trash-alt"></i>
            </div>
            <div class="column-title">
              <input class="input title-column" type="text"
                     (focusout)="onFocusOut(column)"
                     [(ngModel)]="this.currentBoard.columns[i].title"
                     value="{{column.title}}">
            </div>
            <div class="tasks-container"
                 id="{{column.id}}"
                 cdkDropList
                 [cdkDropListData]="column.cards"
                 (cdkDropListDropped)="dropCard($event, column)">
              <div class="task" *ngFor="let item of column.cards" cdkDrag [cdkDragData]="item"
                   (click)="showUpdateCardModal(item)">
                <ul>
                  <li><span *ngFor="let tag of item.tags" class="tag is-light" [ngClass]="tag.color">{{tag.name}}</span>
                  </li>
                  <li><span class="item-title">{{item.title}}</span></li>
                  <li><span *ngFor="let user of item.users" class="tag is-light">@{{user.username}}</span>
                  </li>
                </ul>
              </div>
              <div>
                <button class="button button-add-new-card is-light" *ngIf="canEdit"
                        (click)="showCreateCardModal(column)">
                  + Thêm thẻ
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="board-column-add" *ngIf="canEdit">
          <div class="board-column" style="margin-left: 0px">
            <div class="column-title">
              <button class="button button-add-new-card is-light" (click)="showCreateColumnModal()">
                + Thêm danh sách
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="createColumnModal">
  <div class="modal-background">
    <div class="modal-card">
      <form [formGroup]="columnForm" (ngSubmit)="addColumn()">
        <header class="modal-card-head">
          <p class="modal-card-title">Tạo một danh sách mới</p>
        </header>
        <section class="modal-card-body">
          <label class="label">Tiêu đề:</label>
          <input class="input add-column-input" type="text" formControlName="title" style="position: revert"
                 placeholder="Nhập tiêu đề của danh sách" maxlength="512">
          <span style="font-size: large; color: red" *ngIf="columnForm.invalid">Cần nhập tiêu đề của danh sách</span>
        </section>
        <footer class="modal-card-foot">
          <button style="position: revert" [disabled]="columnForm.invalid" class="button is-info"
                  type="submit">Thêm danh sách
          </button>
          <button class="button is-light" (click)="closeCreateColumnModal()">Hủy</button>
        </footer>
      </form>
    </div>
  </div>
</div>
<div class="modal" id="deleteColumnModal">
  <div class="modal-background" (click)="closeDeleteColumnModal()"></div>
  <div class="modal-card" style="width: 500px; height: 215px;">
    <header class="modal-card-head">
      <p class="modal-card-title">Xóa danh sách</p>
      <button class="delete" aria-label="close" (click)="closeDeleteColumnModal()"></button>
    </header>
    <section class="modal-card-body">
      Bạn chắc chắn muốn xóa danh sách này?
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger" (click)="deleteColumn()">Xóa</button>
      <button class="button is-light" (click)="closeDeleteColumnModal()">Không</button>
    </footer>
  </div>
</div>
<div class="modal" id="createCardModal">
  <div class="modal-background">
    <div class="modal-card">
      <form [formGroup]="createCardForm" (ngSubmit)="createCard()">
        <header class="modal-card-head">
          <p class="modal-card-title">
            <input class="input is-light" type="text" style="font-weight: bold; font-size: larger"  formControlName="title" placeholder="Nhập tiêu đề">
            <span style="font-size: medium; color: red" *ngIf="(createCardForm.get('title')!.dirty || createCardForm.get('title')!.touched) && createCardForm.get('title')!.invalid">
            Trường bắt buộc</span>   <br>
            <span style="font-size: medium">Tại danh sách {{selectecdColumn.title}}</span>
          </p>
          <br>
        </header>
        <section class="modal-card-body">
          <label class="label">Nội dung:</label>
          <textarea style="font-size: large; border: 0px" cols="93" rows="10" formControlName="content" placeholder="Nhập nội dung"></textarea>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-info add-new-card" [disabled]="createCardForm.invalid" type="submit">Tạo thẻ</button>
          <button class="button is-light" (click)="closeCreateCardModal()">Hủy</button>
        </footer>
      </form>
    </div>
  </div>
</div>
<div class="modal" id="editCardModal">
  <div class="modal-background">
    <div class="modal-card">
      <form [formGroup]="createCardForm">
        <header class="modal-card-head">
          <p class="modal-card-title">
            <input class="input is-light" type="text" style="font-weight: bold; font-size: larger"  formControlName="title" placeholder="Nhập tiêu đề">
            <span style="font-size: medium; color: red" *ngIf="(createCardForm.get('title')!.dirty || createCardForm.get('title')!.touched) && createCardForm.get('title')!.invalid">
            Trường bắt buộc</span>   <br>
            <span style="font-size: medium">Tại danh sách {{selectecdColumn.title}}</span>
          </p>
          <br>
        </header>
        <section class="modal-card-body">
          <label class="label">Nội dung:</label>
          <textarea style="font-size: large; border: 0px" cols="93" rows="10" placeholder="Nhập nội dung" formControlName="content" >{{selectedCard.content}}</textarea>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-info add-new-card" (click)="editCard()">Sửa</button>
          <button class="button is-light" (click)="closeEditCardModal()">Hủy</button>
          <button class="button is-danger" (click)="showDeleteCardModal()">Xóa</button>
        </footer>
      </form>
    </div>
  </div>
</div>
<div class="modal" id="delete-card-modal">
  <div class="modal-background" (click)="closeDeleteCardModal()"></div>
  <div class="modal-card" style="width: 500px; height: 215px;">
    <header class="modal-card-head">
      <p class="modal-card-title">Xóa thẻ</p>
      <button class="delete" aria-label="close" (click)="closeDeleteCardModal()"></button>
    </header>
    <section class="modal-card-body">
      Bạn đã chắc chắn muốn xóa thẻ??
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger" (click)="deleteCard(selectedCard.id)">Xóa</button>
      <button class="button is-light" (click)="closeDeleteCardModal()">Không</button>
    </footer>
  </div>
</div>


