<div class="root">
  <div class="board">
    <div class="board-wrapper">
      <div class="board-columns">
        <div cdkDropList
             cdkDropListGroup
             cdkDropListOrientation="horizontal"
             (cdkDropListDropped)="dropColumn($event)"class="board-columns">
          <div
            cdkDragHandle
            cdkDragLockAxis="x" class="board-column"
               *ngFor="let column of currentBoard.columns; index as i" cdkDrag>
            <div class="window-close" (click)="showDeleteColumnModal(column.id!)">
              <i class="far fa-trash-alt"></i>
            </div>
            <div class="column-title" >
              <input class="input title-column" type="text"
                     (focusout)="onFocusOut(column)"
                     [(ngModel)]="this.currentBoard.columns[i].title"
                     value="{{column.title}}">
            </div>
            <!--                      <div class="tasks-container"-->
            <!--                           id="{{column.id}}"-->
            <!--                           cdkDropList-->
            <!--                           [cdkDropListData]="column.cards"-->
            <!--                           (cdkDropListDropped)="dropCard($event, column)">-->
            <!--                        <div class="task" *ngFor="let item of column.cards" cdkDrag [cdkDragData]="item"-->
            <!--                             (click)="showUpdateCardModal(item)">-->
            <!--                          <ul>-->
            <!--                            <li><span *ngFor="let tag of item.tags" class="tag is-light" [ngClass]="tag.color">{{tag.name}}</span>-->
            <!--                            </li>-->
            <!--                            <li><span class="item-title">{{item.title}}</span></li>-->
            <!--                            <li><span *ngFor="let user of item.users" class="tag is-light">@{{user.username}}</span>-->
            <!--                            </li>-->
            <!--                          </ul>-->
            <!--                        </div>-->
            <!--                        <div class="form-create-new-card is-hidden" id="new-card-form-col-{{column.id}}">-->
            <!--                          <form #showAddNewCardForm="ngForm"-->
            <!--                                (ngSubmit)="addNewCard(column.id,column.cards?.length,showAddNewCardForm)">-->
            <!--                            <input type="text" name="title" #addCard="ngModel" class="input" [(ngModel)]="newCard.title"-->
            <!--                                   placeholder="Title..." required>-->
            <!--                            <td *ngIf="showAddNewCardForm.invalid && addCard.touched && isAdded">-->
            <!--                              <p class="notification is-danger is-light" *ngIf="addCard.errors?.required">Can not blank</p>-->
            <!--                            </td>-->
            <!--                            <div class="button-option">-->
            <!--                              <button class="button add-new-card is-primary is-light" type="submit">-->
            <!--                                Add card-->
            <!--                              </button>-->
            <!--                              <button class="button is-danger is-light " (click)="hiddenInputAddNewCard(column.id)" type="button">-->
            <!--                                Cancel-->
            <!--                              </button>-->
            <!--                            </div>-->
            <!--                          </form>-->
            <!--                        </div>-->
            <!--                        <div id="show-form-create-new-card-{{column.id}}" class="show-form-create-new-card">-->
            <!--                          <button class="button button-add-new-card is-light" (click)="showInputAddNewCard(column.id)"> + Add new-->
            <!--                            card-->
            <!--                          </button>-->
            <!--                        </div>-->
            <!--                      </div>-->
          </div>
        </div>
        <div class="board-column-add" *ngIf="canEdit">
          <div class="board-column" style="margin-left: 0px">
            <div class="column-title">
              <form [formGroup]="columnForm" (ngSubmit)="addColumn()">
                <input class="input add-column-input" type="text" formControlName="title" style="position: revert"
                       placeholder="Enter title column..." maxlength="512">
                <div class="button-create-column">
                  <button style="position: revert" [disabled]="columnForm.invalid" class="button is-primary is-light"
                          type="submit">Add column
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="deleteColumnModal">
  <div class="modal-background"></div>
  <div class="modal-card" style="width: 500px; height: 215px;">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete</p>
      <button class="delete" aria-label="close" (click)="closeDeleteColumnModal()"></button>
    </header>
    <section class="modal-card-body">
      Do you want to delete this Column?
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger is-light" (click)="deleteColumn()">Delete</button>
      <button class="button is-light" (click)="closeDeleteColumnModal()">Cancel</button>
    </footer>
  </div>
</div>
