<div class="wrapper">
  <app-side-bar></app-side-bar>
  <div class="container column is-10" #top style="padding: 10px 13px 13px 106px;">
    <!--    Board-->
    <div class="title-board">
      <h1><i class="far fa-clipboard"></i>Your Boards</h1>
    </div>
    <div class="section-board">
      <div class="card">
        <div class="img-circle-add-board">
          <a (click)="displayAddBoardModal()"><i class="fas fa-plus-circle"></i></a>
        </div>
      </div>
      <div class="card" *ngFor="let board of boards" routerLink="/trello/boards/{{board.id}}">
        <div class="card-header"><p class="card-header-title">{{board.title}}</p></div>
        <div class="card-content">
          <div class="content">
            <span style="font-size: small"><b>Type: </b>{{board.type}}</span> <br>
            <span style="font-size: small"><b>Owner: </b>{{board.owner.username}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="title-board">
      <h1><i class="far fa-clipboard"></i>Shared with you</h1>
    </div>
    <div class="section-board">
      <div class="card">
        <div class="card-header"><p class="card-header-title">D</p></div>
        <div class="card-content">
          <div class="content">
            <span style="font-size: small"><b>Id: </b>E</span> <br>
            <span style="font-size: small"><b>Owner: </b>F</span>
          </div>
        </div>
      </div>
    </div>

    <!--    Work Space-->
    <div class="title-board" #target>
      <h1><i class="fas fa-briefcase"></i>Your Workspace</h1>
    </div>
    <div class="section-board">
      <div class="card">
        <div class="img-circle-add-board">
          <a><i class="fas fa-plus-circle"></i></a>
        </div>
      </div>
      <div>
        <div class="card">
          <div class="card-header"><p class="card-header-title">A</p></div>
          <div class="card-content">
            <span style="font-size: small"><b>Id: </b>F</span> <br>
            <span style="font-size: small"><b>Owner: </b>R</span>
          </div>
        </div>
      </div>

    </div>
    <div class="title-board">
      <h1><i class="fas fa-briefcase"></i>Workspace Shared With You</h1>
    </div>
    <div class="section-board">
      <div>
        <div class="card">
          <div class="card-header"><p class="card-header-title">T</p></div>
          <div class="card-content">
            <span style="font-size: small"><b>Id: </b>R</span> <br>
            <span style="font-size: small"><b>Owner: </b>D</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
