<section class="main-content columns is-fullheight" xmlns="http://www.w3.org/1999/html">
  <app-side-bar></app-side-bar>
  <div class="container column is-10" #top style="padding: 10px 13px 13px 106px;">
    <!--    Board-->
    <div class="title-board">
      <h1><i class="far fa-clipboard"></i>Bảng của bạn</h1>
    </div>
    <div class="section-board">
      <div class="card">
        <div class="img-circle-add-board">
          <a (click)="displayAddBoardModal()"><i class="fas fa-plus-circle"></i></a>
        </div>
      </div>
      <div class="card" *ngFor="let board of boards" routerLink="/board/{{board.id}}">
        <div class="card-header"><p class="card-header-title" routerLink="/board/{{board.id}}">{{board.title}}</p></div>
        <div class="card-content">
          <div class="content">
            <span style="font-size: small"><b>Chủ sở hữu: </b>{{board.owner.username}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="title-board">
      <h1><i class="far fa-clipboard"></i>Bảng được chia sẻ với bạn</h1>
    </div>
    <div class="section-board">
      <div class="card">
        <div class="card-header"><p class="card-header-title">D</p></div>
        <div class="card-content">
          <div class="content">
            <span style="font-size: small"><b>Chủ sở hữu: </b>F</span>
          </div>
        </div>
      </div>
    </div>

    <!--    Work Space-->
    <div class="title-board" #target>
      <h1><i class="fas fa-briefcase"></i>Nhóm của bạn</h1>
    </div>
    <div class="section-board">
      <div class="card">
        <div class="img-circle-add-board">
          <a><i class="fas fa-plus-circle"></i></a>
        </div>
      </div>
      <div>
        <div class="card">
          <div class="card-header"><p class="card-header-title">A</p></div>
          <div class="card-content">
            <span style="font-size: small"><b>Chủ sở hữu: </b>R</span>
          </div>
        </div>
      </div>

    </div>
    <div class="title-board">
      <h1><i class="fas fa-briefcase"></i>Nhóm được chia sẻ với bạn</h1>
    </div>
    <div class="section-board">
      <div>
        <div class="card">
          <div class="card-header"><p class="card-header-title">T</p></div>
          <div class="card-content">
            <span style="font-size: small"><b>Chủ sở hữu: </b>D</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="modal" id="create-board">
  <div class="modal-background" (click)="hideCreateBoard()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Tạo một bảng</p>
      <button class="delete" aria-label="close" (click)="hideCreateBoard()"></button>
    </header>
    <section class="modal-card-body">
      <label class="label">Tiêu đề</label>
      <input class="input" type="text" required [(ngModel)]="newBoard.title" #boardTitle="ngModel">
      <div *ngIf="boardTitle.invalid && boardTitle.touched" class="alert">
        <div *ngIf="boardTitle.errors?.required">Tiêu đề cần được nhập.</div>
      </div>
      <label class="label">Loại</label>
      <div class="control">
        <select class="input" [(ngModel)]="newBoard.type">
          <option value="Private">Riêng tư</option>
          <option value="Public">Công khai</option>
        </select>
      </div>
      <br>
      <div class="control">
        <label class="label">Người tạo: <span
          class="is-info user-button is-light">{{loggedInUser.username}}</span></label>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div *ngIf="boardTitle.invalid" class=" is-right">
        <button class="button is-dark is-light is-right" disabled>Tạo</button>
      </div>
      <div *ngIf="!boardTitle.invalid" class=" is-right">
        <button class="button is-dark is-light is-right" (click)="createNewBoard()">Tạo</button>
      </div>
      <button class="button is-light is-right" (click)="hideCreateBoard()">Hủy</button>
    </footer>
  </div>
</div>
