<div class="container">
  <div class="form-container sign-in-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <h1 style="padding-bottom: 30px ; font-size: 25px">Đăng Nhập</h1>
      <div class="form-group" style="width: 300px;">
        <input formControlName="userName" placeholder="Tên đăng nhập" type="text">
        <div *ngFor="let validation of validation_message.userName" class="text-danger">
          <div style="color: crimson"
            *ngIf="loginForm.get('userName')?.hasError(validation.type) && (loginForm.get('userName')?.touched || loginForm.get('userName')?.dirty)">
            {{validation.message}}
          </div>
        </div>
      </div>
      <div class="form-group" style="width: 300px;">
        <input [type]="show ? 'text':'password'" formControlName="password" placeholder="Mật khẩu">
        <div *ngFor="let validation of validation_message.password" class="text-danger">
          <div style="color: crimson"
            *ngIf="loginForm.get('password')?.hasError(validation.type) && (loginForm.get('password')?.touched||loginForm.get('password')?.dirty)">
            {{validation.message}}
          </div>
        </div>
        <div class="text-danger">
          <label><input type="checkbox" (click)="showPassword()">Hiện mật khẩu</label>
        </div>
        <br>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">
            Đăng nhập
          </button>
        </div>
        <br>
        <a routerLink="/recoverpassword" target="_blank">Quên mật khẩu ?</a>
      </div>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <p style="font-size: 20px">Chưa có tài khoản?</p>
        <p>Bấm đăng ký ngay thôi</p>
        <button type="submit" class="ghost" routerLink="/register">Đăng ký</button>
      </div>
    </div>
  </div>
</div>
