<div class="container">
  <div class="form-container sign-in-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <h1>Đăng Nhập</h1>
      <div class="form-group">
        <input formControlName="userName" placeholder="userName" type="text">
        <div *ngFor="let validation of validation_message.userName" class="text-danger">
          <div
            *ngIf="loginForm.get('userName')?.hasError(validation.type) && (loginForm.get('userName')?.touched || loginForm.get('userName')?.dirty)">
            {{validation.message}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <input [type]="show ? 'text':'password'" formControlName="password" placeholder="password">
        <div *ngFor="let validation of validation_message.password" class="text-danger">
          <div
            *ngIf="loginForm.get('password')?.hasError(validation.type) && (loginForm.get('password')?.touched||loginForm.get('password')?.dirty)">
            {{validation.message}}
          </div>
        </div>
        <div class="text-danger">
          <label><input type="checkbox" (click)="showPassword()">Hiện mật khẩu</label>
        </div>
        <a href="#">Quên mật khẩu</a>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">
            Đăng nhập
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Chưa có tài khoản?</h1>
        <p>Bấm đăng ký ngay thôi</p>
        <button type="submit" class="ghost">Đăng ký</button>
      </div>
    </div>
  </div>
</div>
