<nav id="sidebar">
  <div class="sidebar-header">
  </div>

  <ul class="list-unstyled components">
    <li>
      <a href="#">Trang chủ</a>
    </li>
    <li class="active">
      <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#homeSubmenu">Bảng</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a href="#">Home 1</a>
        </li>
        <li>
          <a href="#">Home 2</a>
        </li>
        <li>
          <a href="#">Home 3</a>
        </li>
      </ul>
    </li>
    <li>
      <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#pageSubmenu">Nhóm</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#sub1">Page 1</a>
          <ul class="collapse list-unstyled" id="sub1">
            <li></li>
          </ul>
        </li>
        <li>
          <a href="#">Page 2</a>
        </li>
        <li>
          <a href="#">Page 3</a>
        </li>
      </ul>
    </li>
  </ul>
  Dự án C0421K1 <br>
  Dự án CodeGym
</nav>
