<nav id="sidebar">
  <div class="sidebar-header">
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <a [routerLink]="['']">Home</a></li>
    <li>
      <div class="collapse">
        <a [routerLink]="['/boards']">Board</a>
      </div>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['']">Group</a></li>
<!--    <li class="list-group-item">A fourth item</li>-->
<!--    <li class="list-group-item">And a fifth one</li>-->
  </ul>
  <br>
  <br>
  Dự án C0421K1 <br>
  Dự án CodeGym
</nav>

